Carthage/Build/iOS/Charts.framework/* filter=lfs diff=lfs merge=lfs -text
Carthage/Build/iOS/Charts.framework/** filter=lfs diff=lfs merge=lfs -text
Carthage/Build/iOS/Charts.dSYM/** filter=lfs diff=lfs merge=lfs -text
